img{
    width: 200px;
    height: auto;
    max-width:100%;
}
h1{
    color: red;
    font-size: 50px;
    font-family:SansSerif ;
    line-height: 1.5;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
}
body{
    background-color: 
}
