*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;

}
.survey{
    color: red;
    font-size:16px;
    font-weight: 600;
}
.box{
    border-radius: 5px;
    border: 2px solid gray;
}
h2{
    background-color: white;
    width: 170px;
    color: deepskyblue;
    font-weight:600;
    font-size: 16px;
    position: absolute;
    padding-left: 20px;
    top:-30px;
    z-index: 1;
}
.main-content{
    float: left;
    height: 100%;
    width: 100%;
    background-color: gray;
    border: 2px solid black;
    margin: 15px 0px 3px 0px;
    box-shadow: silver;
}
.table{
    background-color: #fafafa;
}
.form-group{
    width: 100%;
}
#bg-fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display:none;
}
#popup{
    position: fixed;
    width: 350px;
    height: 150px;
    background-color: white;
    box-shadow: 0 0 5px #aaaaaa;
    border-radius: 6px;
    padding: 40px ;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
#popup button{
    width: 100px;
    height: 20px;
}