img{
    max-width: 100%;
    border-radius: 100%;
    width:150px;
    height: 150px;

}
#box{
    background-color: #fafafa;
    box-shadow: #aaaaaa;
    border: 2px;
    heigt:1100px;
    width: 1100px;
}
#x{
    background-color: #C0C0C0;
    width: 100%;
    float: left;
    height: 200px;
    padding:30px 50px 30px 380px;
    border-radius: 5px;
    box-sizing: border-box;
}
#x h1{
    color: black;
    font-size: 70px;
    text-transform: uppercase;
    text-align: left;
    font-family: SansSerif;
    line-height: 30px;
}
#x p{
    color: black;
    font-size: 20px;
    text-align: left;
}

#y{
    background-color: #DDDDDD;
    float: left;
    width: 300px;
    height: 100%;
    padding: 30px 40px 10px 50px;
    margin-top: -180px ;
    margin-left: 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    box-sizing: border-box;
    line-height: 30px;
    border-radius: 5px;
}
#y h1{
    font-size:20px;
    line-height: 30px;
}
#y h2{
    font-size: 20px;
}
#y h3{
    font-size: 20px;
    line-height: 30px;
}
#z {
    background-color: white;
    float: left;
    width: 720px;
    height: 800px;
    padding: 30px;
    line-height: 10px;
    box-sizing: border-box;
}
#z p{
    line-height: 20px;

}
#z h1{
    font-size: 30px;
    line-height: 10px;
    text-transform: uppercase;
}
#z h2{
    font-size: 30px;
    line-height: 30px;
    font-family: SansSerif;
    text-transform: uppercase;
}
#z h3{
    line-height: 10px;
}